extends layout

block contenido
    .contenido-principal
        h1 #{namePag} - #{project.name}

        form.agregar-tarea(action=`/projects/${project.url}` method="POST")
            .campo
                label(for="tarea") Task:
                input.nombre-tarea(type="text" name="task" id="task" placeholder="Name Task")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Add")

        .listado-pendientes
            ul
                if tasks.length
                    each task in tasks
                        li.tarea(data-task=task.id)
                            p= task.task 
                            .acciones
                                if task.status
                                    i.far.fa-check-circle.completo
                                else 
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else
                    p Not task in this Project

        //- pre= vardump(tasks)

        //- advancement project
        .avance
            h2 Advancement Project
            #bar-advance.barra-avance
                #porcen.porcentaje

        .contenedor-acciones
            a(href=`/projects/edit/${project.id}`, class="boton") Edit Project
            button#delete-project(data-project-url=project.url type="button" class="boton eliminar") Delete Project

    
